<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'>
    <title>신기한 희귀난치병 사전</title>
    <script src="/javascripts/favoriteHandler.js"></script>
    <script src="javascripts/search_history.js"></script>
<!--    <link rel='stylesheet' href='/public/stylesheets/style.css' />-->
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" onclick = "location.href = '/home'">신기한 희귀난치병 사전</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" onclick = "location.href = '/home'">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick = "location.href = '/search'">사전목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick = "location.href = '/search'" id="go_to_fav_nav">즐겨찾기</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
