<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>희귀난치병 사전</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        //변수 선언
        var myFavoriteList = JSON.parse(localStorage.getItem("myFavList")); //로컬 스토리지에 있던 myFavList 를 얻어온다.

        //웹브라우저의 모든 구성요소 로드 끝났을 때 호출되는 함수.
        window.onload=function () {
            var go_to_fav_btn = document.getElementById("go_to_fav_btn");
            var go_to_fav_nav = document.getElementById("go_to_fav_nav");
            go_to_fav_btn.addEventListener("click", loadList);
            go_to_fav_nav.addEventListener("click", loadList);
        }

        //favorite 페이지 즐겨찾기 로딩하기
        function loadList() {
            location.href = '/views/favorites.html';
            console.log(myFavoriteList);

            if(myFavoriteList == null){
                var origin_list = document.getElementsByClassName('list-group');
                origin_list.innerHTML += '<a href = "#" class="list-group-item list-group-item-action">즐겨찾기를 추가하세요.</a>';
            }

            if(myFavoriteList != null) {
                for (var i = 0; i = myFavoriteList.length; i++) {
                    var output = '<a href = "#" class="list-group-item list-group-item-action" ';
                    output += 'id="' + myFavoriteList[i] + '">' + myFavoriteList[i] + '</a>'
                        + '<button type="button" class="btn btn-outline-info" id="rmv_fav">삭제</button></li>';
                    origin_list.innerHTML += output;
                }

            }
        }

        //favorite 페이지 목록에서 즐겨찾기 삭제 버튼
        $(function () {
            $("#rmv_fav").on("click", function () {
                /*if( $(this).html() === '즐겨찾기 삭제'){
                    $(this).html('즐겨찾기 추가');
                    $(this).attr('id', 'add');
                }*/
                $(this).attr('disabled', true);//누른 버튼 비활성화
                var FavToRemove = $(this).closest("a").attr("id");//가장 가까운 a 태그에서 id 얻어온다.
                rmvFromList(FavToRemove);
                _removeElement($(this).closest("li"));
                myFavoriteList[j] = [];
                //$("#add").attr('disabled', false);//즐겨찾기 추가 버튼 활성화
            });
        });

        //myFavoriteList 에서 요소 제거하기
        function rmvFromList(FavToRemove){
            if (myFavoriteList == null) {
                alert("즐겨찾기가 없습니다");
            }else{
                for (var j = 0; j < myFavoriteList.length; j++) {
                    if (FavToRemove === myFavoriteList[j]) {
                        delete myFavoriteList[j];
                        localStorage.setItem("myFavList", JSON.stringify(myFavoriteList));
                        alert("즐겨찾기에서 제거되었습니다");
                    }else{
                        alert("즐겨찾기 목록에 없습니다");
                    }
                }
            }
        }

        //favorite 페이지 목록 모두 지우기.
        $(function () {
            $("#clear_fav").on("click", function () {
                var list = document.getElementsByClassName('list-group');
                $(list).remove();
                localStorage.clear();
            });
        });

        //document 페이지 즐겨찾기 추가
        $(function () {
            $("#add").on("click", function () {
                try{
                    //버튼 바꿔주기
                    $(this).html('즐겨찾기 삭제');
                    $(this).attr('id', 'rmv');
                    //$(this).attr('disabled', true);
                    var FavToAdd = $(this).closest("p").attr("id"); //가장 가까운 p 태그의 id를 얻는다. 병 이름!
                    addToList(FavToAdd);
                    // $("#rmv").attr('disabled', false); //즐겨찾기에서 삭제 버튼 활성화시켜준다.
                }
                catch (e) {
                    console.log("Error: saving to local storage");
                }
            });
        });

        function addToList(FavToAdd){
            if (myFavoriteList != null) {
                for (var j = 0; j < myFavoriteList.length; j++) {
                    if (FavToRemove === myFavoriteList[j]) {
                        alert("이미 즐겨찾기에 있습니다");
                    }
                }
            }else {
                myFavoriteList.push(FavToAdd);
                alert("즐겨찾기에 추가되었습니다");
            }
            localStorage.setItem("myFavList", JSON.stringify(myFavoriteList)); //갱신된 리스트를 로컬 스토리지에 저장한다.
        }

        //Document 페이지 즐겨찾기 삭제 버튼
        $(function () {
            $("#rmv").on("click", function loadList() {
                //버튼 바꿔주기
                $(this).html('즐겨찾기 추가');
                $(this).attr('id', 'add');
                //$(this).attr('disabled', true);//누른 버튼 비활성화
                var FavToRemove = $(this).closest("p").attr("id");//가장 가까운 p 태그에서 id 얻어온다.
                rmvFromList(FavToRemove);
                //$("#add").attr('disabled', false);//즐겨찾기 추가 버튼 활성화
            });
        });
    </script>
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" onclick = "location.href = '/home'">신기한 희귀난치병 사전</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" onclick = "location.href = '/home'">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick = "location.href = '/search'">사전목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick = "location.href = '/favorite'" id="go_to_fav_nav">즐겨찾기</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<script type="text/javascript" src="/public/favoriteHandler.js"></script>-->
</body>
</html>