/*common*/
.star_solid {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: url("/img/star-solid.svg") no-repeat;
    display: inline-block;
    float: right;
}

.star_regular {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: url("/img/star-regular.svg") no-repeat;
    display: inline-block;
    float: right;
}


@media screen and (max-width: 400px) {
    #history_place {
        text-align: left;
    }
}

.col-3 {
    padding-left: 0px;
}

/*document*/
.document_title{
    word-break:break-all;
}

.tab-content {
    line-height: 30px;
    text-align: left;
    text-indent: 10px;
}

.jumbotron {
    margin-bottom: 0rem;
}

/*search*/
#dict_list{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dict_width{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#name{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
}

/*home*/
#history_place {
    text-align: center;
}

#story_text{
    line-height: 30px;
    text-align: left;
    text-indent: 10px;
}

/*header*/
.navbar-nav {
    cursor: pointer;
}
