<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#header").load("/");
        });
    </script>
</head>
<body>
<!-- include header -->
<div id="header"></div>

<!-- 전체목록 & Searchbar -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">즐겨찾기</a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="clear_fav">전체 삭제</button>
    <!--
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
</nav>

<!-- Page Content -->
<div class="list-group">
    <a href = "/views/document/document.html" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href = "#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href = "#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href = "#" class="list-group-item list-group-item-action ">Vestibulum at eros</a>
</div>
<!--<script src="/public/get_index.js"></script>
<script src="/public/favorite_handler.js"></script>-->
</body>
</html>