<!DOCTYPE html>
<html>
<head>
  <% include ../header.ejs %>
</head>
<body>
<!-- 전체목록 타이틀/전체삭제 버튼 -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">즐겨찾기</a>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="clear_fav">전체 삭제</button>
</nav>
<!--즐겨찾기 목록이 들어가는 부분-->
<div class="list-group" id="favorite_list">
</div>
<script src="/javascripts/favorite_manager.js"></script>
</body>
</html>
