<!DOCTYPE html>
<html>
<head>
  <% include ../header.ejs %>
  <link rel="stylesheet" href="/css/search.css">
</head>
<body><!-- TODO inline style 다 css로 포함하기. 안쓰는 코드 지우기. 로딩할 때 ★ 불러오기-->
<!-- 소제목 & Searchbar -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">사전목록</a>
  <form class="form-inline" id="search_form" action="/search" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="병명을 입력해주세요" aria-label="Search" id="search_search" name = "keyword">
    <button class="btn btn-outline-success ml-2 my-sm-0" type="submit"  onclick="search_history()">검색하기</button>
  </form>
</nav>
<!-- 전체 목록이 들어가는 부분 -->
<div class="list-group" id="dictionary">
    <% if(name == null || name.length == 0){%>
        <br/><h2 id="no_result">검색결과가 없습니다</h2>
    <% }else{ %>
    <% for(var i = 0; i< name.length; i++){ %>
        <li class="list-group-item" id="dict_list">
            <div id="dict_width"><a href="/document/<%= name[i].name %>"><%= name[i].name %></a></div>
            <div class="star_regular"></div>
        </li>
    <% }} %>
</div>
<!--<script src="/javascripts/search_manager.js"></script>-->
<script src="/javascripts/favorite_manager.js"></script>

</body>
</html>