<!DOCTYPE html>
<html>
<head>
    <% include ../header.ejs %>
</head>
<body>
<!-- 전체목록 & Searchbar -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">사전목록</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<!-- Page Content -->
<div class="list-group">

    <li class="list-group-item"><a href="/document">Dapibus ac facilisis in</a></li>
    <li class="list-group-item">Morbi leo risus  </li>
    <a href="/views/document/document.html" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>

    <% for(var i = 0;  i < data.length; i++) { %>
        <li class="list-group-item"><a href="/<%= data[i] %>"><%= data[i] %></a></li>
    <% } %>

</div>
</body>
</html>
