<!DOCTYPE html>
<html lang="en">

    <!-- icon -->
    <link rel="stylesheet" href="/Users/junha_lee/Documents/human/vendor/fontawesome-free-5.2.0-web/css/all.css">
    <!-- include header -->
    <script src="includeHTML.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')>
    <link href="/Users/junha_lee/Documents/human/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- icon -->
    <link href="/Users/junha_lee/Documents/human/vendor/fontawesome-free-5.2.0-web/css/all.css" rel="stylesheet">



    <!-- Bootstrap core JavaScript -->
    <script src="/Users/junha_lee/Documents/human/vendor/jquery/jquery.min.js"></script>
    <script src="/Users/junha_lee/Documents/human/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
<div include-html="index.html"></div>
<script>includeHTML();</script>

    <!-- 전체목록 & Searchbar -->
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">사전목록</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <!-- Page Content -->
    <div class="list-group">
        <li class="list-group-item"><a href="/document">Dapibus ac facilisis in</a> <button type="button" class="btn btn-outline-info">즐겨찾기 추가</button><script src="./addToFav.js"></script> </li>
        <li class="list-group-item">Morbi leo risus  </li>
        <a href="Document.html" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    </div>

</body>
</html>