<!DOCTYPE html>
<html>
<head>
  <% include ../header.ejs %>
    <style>
        .like{
            background:pink;
        }
    </style>
</head>
<body>
<!-- 소제목 & Searchbar -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">사전목록</a>
  <form class="form-inline" id="search_form" action="/search" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="병명을 입력해주세요" aria-label="Search" id="home_search" name = "keyword">
    <button class="btn btn-outline-success ml-2 my-sm-0" type="submit"  onclick="search_history()">검색하기</button>
  </form>
</nav>
<!-- 전체 목록이 들어가는 부분 -->
<div class="list-group" id="dictionary">
    <% if(name == null || name.length == 0){%>
        <br/><h2 style="text-align: center;">검색결과가 없습니다</h2>
    <% }else{ %>
    <% for(var i = 0; i< name.length; i++){ %>
        <li class="list-group-item" id="dict_list">
            <a id="dict_width" href="/document/<%= name[i].name %>"><%= name[i].name %></a>
            <div class="star_regular"></div>

        </li>
    <% }} %>
</div>

<script src="/javascripts/search_manager.js"></script>
<script src="/javascripts/favorite_manager.js"></script>


<script>
  /*$("li").on("click .star-regular", function (event) {
    console.log($(this)[0].textContent);
    //add_favorite($(this)[0].textContent.trim());
    $(this).toggleClass("like");
  });*/

  $(".star_regular").click(function (event) {
    //console.log($(event.target).closest("li")[0].textContent);
    if( $(event.target).closest("li")[0] !== undefined) {
      const this_name = $(event.target).closest("li")[0].textContent.trim();

      var myFavoriteList = get_item();
      if(myFavoriteList === null) myFavoriteList = [];
      var index = myFavoriteList.indexOf(this_name);

      if (index == -1) {
        myFavoriteList.push(this_name);
        $(this).removeClass('star_regular');
        $(this).addClass('star_solid');
        //alert("즐겨찾기 목록에서 추가되었습니다");
      }else {
        myFavoriteList.splice(index, 1);
        $(this).removeClass('star_solid');
        $(this).addClass('star_regular');
        //alert("즐겨찾기 목록에서 삭제되었습니다");
      }
      console.log(myFavoriteList);
      set_item(myFavoriteList);
    }

  });
/*
  $(".star_solid").click(function (event) {
    if( $(event.target).closest("li")[0] !== undefined) {
      const rmv_this = $(event.target).closest("li")[0].textContent.trim();

      var myFavoriteList = get_item();
      var index = myFavoriteList.indexOf(rmv_this);

      if (index > -1) {

        //alert("즐겨찾기 목록에서 삭제되었습니다");
        window.location.reload(true);
      }
    }
    $(event.target).removeClass("star_solid");
    $(event.target).addClass("star_regular");
  });*/
</script>

</body>
</html>