<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready( function() {
                $("#header").load("/");
            });
        </script>
    </head>

    <body>
        <!-- include header -->
        <div id="header"></div>

        <!--title & short desc-->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Dapibus ac facilisis in</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <p id="Dapibus ac facilisis in">
                    <button type="button" class="btn btn-outline-info" id="add">즐겨찾기 추가</button>
                </p>
            </div>
        </div>

        <!--detailed desc-->
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">개요</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">증상</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">원인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">진단</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">치료</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">참고자료</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">의료기관</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">기타</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </body>
</html>